<div class="inner">
	<div class="Content Widest" id="LayoutColumn1">
		<div class="Block Moveable Panel Breadcrumb" id="LoginBreadcrumb">
			<ul class="last">
				<li><a href="<%= root_path %>">Home</a></li>
				<li><a href="javascript:history.go(-1)">... Previous Page</a></li>
				<li>Sign in</li>
			</ul>
		</div>
		<h1 class="TitleHeading">Sign in or Create Account</h1>
		<div class="login-form Block" id="LoginForm">
			<div class="grid">
				<div class="grid__item one-half">
					<div class="CreateAccount">
						<h3>Create a New Account</h3>
						<div style="display:none">
							<p>If this is your first purchase from BILD International please click the "Continue." button to get started.</p>
							<form action="#" method="get">
								<input type="hidden" name="action" value="create_account">
								<input type="hidden" name="checking_out" value="yes">
								<input type="submit" value="Continue »" style="padding:2px 10px 2px 10px">
							</form>
						</div>
						<div style="display: ">
							<p>Create an account with us and you'll be able to:</p>
							<ul>
								<li>Check out faster</li>
								<li>Save multiple shipping addresses</li>
								<li>Access your order history</li>
								<li>Track new orders</li>
								<li>Save items to your wish list</li>
							</ul>
							<%= link_to "Click here to create a new account", new_user_registration_path, class: "btn alt" %>
						</div>
					</div>
				</div>
				<div class="grid__item one-half">
					<div class="AccountLogin">
						<h3>Sign In</h3>
						<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
							<div class="FormContainer">
								<% flash.each do |name, msg| %>
									<p class="ErrorMessage">
										<%= msg.html_safe if msg.is_a?(String) %>
									</p>
								<% end %>
								<fieldset>
									<label>Email Address:</label>
									<%= f.email_field :email, class: "Textbox InitialFocus" %>
									<label for="login_pass">Password:</label>
									<%= f.password_field :password, class: "Textbox" %>
								</fieldset>
								<fieldset class="actions">
									<input id="LoginButton" class="btn alt" type="submit" value="Sign In">
									<%= link_to "Forgot your password?", new_password_path(resource_name), class: "forgotPassword" %>
								</fieldset>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			//<![CDATA[
			  /* Make sure the login fields are filled in */
			  function check_login_form() {
			    var login_email = g("login_email");
			    var login_pass = g("login_pass");
			
			    if(login_email.value.indexOf("@") == -1 || login_email.value.indexOf(".") == -1) {
			      alert("Please type in a valid email address, such as joe@example.com");
			      login_email.focus();
			      login_email.select();
			      return false;
			    }
			
			    if(login_pass.value == "") {
			      alert("Please type in your password.");
			      login_pass.focus();
			      return false;
			    }
			
			    return true;
			  }
			//]]>
		</script>
	</div>
	<div class="clear"></div>
</div>