<table  border="1" cellspacing="0" cellpadding="0" width="700" style="width:525.0pt;border:dotted #333333 1.0pt">
    <tbody>
        <tr>
            <td width="893" style="width:669.75pt;border:none;background:white;padding:7.5pt 7.5pt 7.5pt 7.5pt">
                <table  border="0" cellpadding="0" width="672" style="width:504.0pt">
                    <tbody>
                        <tr>
                            <td width="1440" style="width:1080.0pt;padding:.75pt .75pt .75pt .75pt">
                                <p><img width="171" height="80" style="width:1.7812in;height:.8333in" id="" src="http://bildstore.in/assets/bild_store_logo.png" alt="Bildstore"><u></u><u></u></p>
                            </td>
                            <td width="589" style="width:441.75pt;padding:.75pt .75pt .75pt .75pt"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border:none;padding:7.5pt 7.5pt 7.5pt 7.5pt">
                <p>Dear <strong><%= @user.full_name %></strong>,
                    <br>
                    <br><span>Thank</span> <span>you</span> for creating your account at BILD International India Store. Your account details are as follows: <u></u><u></u></p>
            </td>
        </tr>
        <tr>
            <td width="893" style="width:669.75pt;border:none;padding:7.5pt 7.5pt 7.5pt 7.5pt">
                <table border="0" cellspacing="0" cellpadding="0" align="left" width="616" style="width:462.0pt">
                    <tbody>
                        <tr>
                            <td colspan="2" valign="top" style="padding:0cm 0cm 0cm 0cm">
                                <div align="center">
                                    <table  border="1" cellspacing="3" cellpadding="0" width="648" style="width:486.0pt;background:whitesmoke;border:outset #cccccc 1.0pt">
                                        <tbody>
                                            <tr style="height:15.75pt">
                                                <td style="border:none;padding:2.25pt 2.25pt 2.25pt 2.25pt;height:15.75pt">
                                                    <p><strong>Name</strong> <u></u><u></u></p>
                                                </td>
                                                <td style="border:none;padding:2.25pt 2.25pt 2.25pt 2.25pt;height:15.75pt">
                                                    <p><%= @user.full_name  %><u></u><u></u></p>
                                                </td>
                                                <td style="border:none;padding:2.25pt 2.25pt 2.25pt 2.25pt;height:15.75pt">
                                                    <p><strong>Contact</strong> <u></u><u></u></p>
                                                </td>
                                                <td style="border:none;padding:2.25pt 2.25pt 2.25pt 2.25pt;height:15.75pt">
                                                    <p><%= @user.phone_number %><u></u><u></u></p>
                                                </td>
                                            </tr>
                                            <tr style="height:15.75pt">
                                                <td style="border:none;padding:2.25pt 2.25pt 2.25pt 2.25pt;height:15.75pt">
                                                    <p><strong>Email</strong> <u></u><u></u></p>
                                                </td>
                                                <td style="border:none;padding:2.25pt 2.25pt 2.25pt 2.25pt;height:15.75pt">
                                                    <p><a href="mailto:<%=@user.email%>" target="_blank"><%= @user.email %></a><u></u><u></u></p>
                                                </td>
                                                <td style="border:none;padding:2.25pt 2.25pt 2.25pt 2.25pt;height:15.75pt">
                                                    <p><strong>Password </strong><u></u><u></u></p>
                                                </td>
                                                <td style="border:none;padding:2.25pt 2.25pt 2.25pt 2.25pt;height:15.75pt">
                                                    <p>[The password you specified ]<u></u><u></u></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr style="height:36.75pt">
                            <td colspan="2" style="padding:7.5pt 0cm 0cm 7.5pt;height:36.75pt">
                                <p style="margin-bottom:12.0pt">
                                    <br>For any clarifications,please feel free to <a>contact us.</a> <u></u><u></u></p>
                            </td>
                        </tr>
                        <tr style="height:18.75pt">
                            <td style="padding:0cm 0cm 0cm 7.5pt;height:18.75pt">
                                <p>Yours Sincerely,<u></u><u></u></p>
                            </td>
                            <td style="padding:0cm 0cm 0cm 7.5pt;height:18.75pt">
                                <p  align="center" style="text-align:center">&nbsp; <u></u><u></u></p>
                            </td>
                        </tr>
                        <tr style="height:18.75pt">
                            <td colspan="2" style="padding:0cm 0cm 0cm 7.5pt;height:18.75pt">
                                <p><strong><span style="font-size:8.0pt">Bild Store Team, </span></strong><b><span style="font-size:8.0pt"><br><strong>Customer Support Team. </strong></span></b><span style="font-size:8.0pt"><br></span><a href="mailto:helpdesk@bildstore.in" target="_blank">helpdesk@bildstore.in</a> <u></u><u></u></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="border:none;padding:0cm 0cm 0cm 0cm"></td>
        </tr>
    </tbody>
</table>