<div id="" class="">
	<div>
		<p>Hello</p>
		<p>Below is information of user requested on the site.</p>
		<p>Full Name: <%= @contact.full_name %></p>
		<p>Email : <%= @contact.email %></p>
		<p>Phone Number: <%= @contact.phone_number %></p>
		<p>Order Number: <%= @contact.order_number %></p>
		<p>Details.: <%= raw @contact.details %></p>
	</div>
</div>