<ul class="side-menu">
	<!-- <li style="display: "><a href="javascript:void(0);">View Messages <strong>(0)</strong></a></li> -->
	<li><%= link_to "View Order Status", order_status_users_path %></li>
	<li><%= link_to "Completed", orders_completed_users_path %></li>
	<li><%= link_to "Your Address Book", address_book_users_path %></li>
	<li><%= link_to "Your Account Details", user_account_users_path  %></li>
	<li><%=link_to "Your Recent Items", recent_visit_items_users_path %></li>
</li>
</ul>